.cadMedico{
  width: 100vw;
  min-height: 100vh;
  height: fit-content;
  background-color: #F0F0F2;
  display: flex;
}

.cadMedico .forms{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.cadMedico .forms app-header-screen{
  width: 100%;
}

.cadMedico .forms form{
  display: flex;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  position: relative;
  height: 100%;
  width: 100%;
}

.cadMedico .forms form .formBody{
  width: 100%;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.cadMedico .forms form .formBody .lineOne{
  width: 60%;
  display: flex;
  justify-content: center;
}

.cadMedico .forms form .formBody .lineTwo{
  width: 60%;
  display: flex;
  justify-content: space-between;
  gap: .6rem;
}

.cadMedico .forms form .formBody .lineTwo mat-label {
  font-size: .9rem;
}

.cadMedico .forms form .formBody .lineDate{
  width: 60%;
  height: fit-content;
  display: flex;
  gap: .6rem;
}

.cadMedico .forms form .formBody .lineDate .dateCalendar span{
  margin-right: .5rem;
  color: rgba(0, 0, 0, .5);
}


.cadMedico .forms form .formBody .lineDate .dateCalendar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.cadMedico .forms form .formBody .timeCalendar {
  width: 100%;
  align-items: center;
  display: flex;
  gap: .6rem;
}
.cadMedico .forms form .formBody .timeCalendar .inputTime{
  padding: 0 .5rem;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, .5);
  border-radius: 4px;
  height: 100%;
}

.cadMedico .forms form .formBody .timeCalendar .timeInitial {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.cadMedico .forms form .formBody .timeCalendar .timeEnd {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.cadMedico .forms form .formBody .timeCalendar .timeInitial span {
  color: rgba(0, 0, 0, .5);
  white-space: nowrap;
}

.cadMedico .forms form .formBody .timeCalendar .timeEnd span {
  color: rgba(0, 0, 0, .5);
  white-space: nowrap;
}

.cadMedico .forms form .formBody .slide{
  width: 60%;
  display: flex;
  justify-content: start
}

.cadMedico .forms form .formBody .slide span{
  margin-right: .5rem;
  color: rgba(0, 0, 0, .5);
}

.cadMedico .forms form .formBody .lineOne app-text{
  width: 100%;
}

.cadMedico .forms form .formBody .lineTwo app-text{
  width: 100%;
}

.cadMedico .forms form .buttons {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cadMedico .forms form button {
  padding: .8rem 1.2rem;
  background-color: transparent;
  border: 2px solid #113059;
  color: #113059;
  border-radius: 5px;
  font-weight: bold;
  font-size: 11px;
  text-transform: uppercase;
  transition: all .4s ease-in-out;
}

.cadMedico .forms form button:hover{
  color: white;
  background-color: #113059;
}
