<div class="cadHospital">
  <app-sidebar isPainel="true" currentRouterSub="/painel/cadastro-hospital"></app-sidebar>

    <div class="forms-hospital">
      <app-header-screen title="Cadastro Hospital"></app-header-screen>
        <form class="form-content" (submit)="onSubmit($event)">
          <div class="content">
            <div class="contentOne">
              <app-text inputId="inputNameHospital" typeInput="text" nameInput="Nome do Hospital" placeholder="Nome do Hospital"></app-text>
            </div>
            <div class="contentTwo">
              <app-text inputId="inputCnpjHospital" typeInput="number" nameInput="CNPJ" placeholder="00.000.000/0000-00"></app-text>
              <app-text inputId="inputTelefoneHospital" typeInput="tel" nameInput="Telefone" placeholder="(00) 00000-0000"></app-text>
            </div>
            <div class="contentOne">
              <app-text inputId="inputEnderecoHospital" typeInput="text" nameInput="Endereço" placeholder="Endereço"></app-text>
            </div>
            <div class="contentTwo">
              <span>Ativo</span>
              <mat-slide-toggle (change)="onChange($event)" color="primary"></mat-slide-toggle>
              <app-text inputId="inputCnesHospital" typeInput="number" nameInput="CNES" placeholder="0000000"></app-text>
            </div>
          </div>
          <div class="button">
            <button type="submit">Cadastrar</button>
          </div>
      </form>
    </div>
  </div>

<router-outlet></router-outlet>
