<div class="cadEspecialidade">
  <app-sidebar isPainel="true" currentRouterSub="/painel/cadastro-especialidade"></app-sidebar>
    <div class="forms-especialidade">
      <app-header-screen title="Cadastro Especialidade"></app-header-screen>
        <form class="form-content" novalidate (submit)="onSubmit($event)">
          <div class="content-all">
            <div class="content">
              <app-text inputId="inputNameEspecialidade" valor="especialidade.nome" typeInput="text" nameInput="Nome" placeholder="Digite o nome..."></app-text>
            </div>
            <div class="content">
              <app-text inputId="inputDescricaoEspecialidade" valor="especialidade.descricao" typeInput="text" nameInput="Descrição" placeholder="Descrição da especialidade..."></app-text>
            </div>
            <div class="contentTwo">
              <span>Ativo</span>
              <mat-slide-toggle novalidate (submit)="onSubmit($event)"></mat-slide-toggle>
            </div>
          </div>
          <div class="button">
            <button type="submit">Cadastrar</button>
          </div>
      </form>
    </div>
  </div>
<router-outlet></router-outlet>
