/* Yob can add global styles to this file, and also import other style files */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body { height:100%; overflow-x: hidden; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

p-calendar {
  width: 100%;
}

.p-calendar {
  width: 100%;
}

.p-calendar input {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, .5);
}

#cdk-overlay-0 {
  max-height: 200px;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent;
}
