.cadBeneficiario{
  width: 100vw;
  height: 100vh;
  background-color: #F0F0F2;
  display: flex;
}


.cadBeneficiario .forms{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.cadBeneficiario .forms app-header-screen{
  width: 100%;
}

.cadBeneficiario .forms form{
  display: flex;
  padding: 3rem;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  position: relative;
  height: 100%;
  width: 100%;
}

.cadBeneficiario .forms form .formBody{
  width: 100%;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.cadBeneficiario .forms form .formBody .lineOne{
  width: 60%;
  display: flex;
  justify-content: center;
}

.cadBeneficiario .forms form .formBody .lineTwo{
  width: 60%;
  display: flex;
  justify-content: space-between;
  gap: .6rem;
}

.cadBeneficiario .forms form .formBody .slide{
  width: 60%;
  display: flex;
  justify-content: start
}

.cadBeneficiario .forms form .formBody .slide span{
  margin-right: .5rem;
  color: rgba(0, 0, 0, .5);
}

.cadBeneficiario .forms form .formBody .lineOne app-text{
  width: 100%;
}

.cadBeneficiario .forms form .formBody .lineTwo app-text{
  width: 100%;
}

.cadBeneficiario .forms form .buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cadBeneficiario .forms form button {
  padding: .8rem 1.2rem;
  background-color: transparent;
  border: 2px solid #113059;
  color: #113059;
  border-radius: 5px;
  font-weight: bold;
  font-size: 11px;
  text-transform: uppercase;
  transition: all .4s ease-in-out;
}

.cadBeneficiario .forms form button:hover{
  color: white;
  background-color: #113059;
}





